// Breakpoints width
$breakpoint-desktop: 1280px;
$breakpoint-desktopLarge: 1920px;
$breakpoint-mobile-min: 375px;
$breakpoint-small-mobile: 320px;
$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 1024px;
$breakpoint-tablet: 960px;
