// Spacing
$spacing-0: 0px;
$spacing-0-1: 0.1px;
$spacing-0-2: 0.2px;
$spacing-0-4: 0.4px;
$spacing-0-5: 0.5px;
$spacing-0-16: 0.16px;
$spacing-1: 1px;
$spacing-1-5: 1.5px;
$spacing-2: 2px;
$spacing-3: 3px;
$spacing-4: 4px;
$spacing-5: 5px;
$spacing-6: 6px;
$spacing-7: 7px;
$spacing-8: 8px;
$spacing-9: 9px;
$spacing-10: 10px;
$spacing-11: 11px;
$spacing-12: 12px;
$spacing-13: 13px;
$spacing-13-5: 13.5px;
$spacing-14: 14px;
$spacing-15: 15px;
$spacing-16: 16px;
$spacing-17: 17px;
$spacing-18: 18px;
$spacing-20: 20px;
$spacing-21: 21px;
$spacing-22: 22px;
$spacing-23: 23px;
$spacing-24: 24px;
$spacing-25: 25px;
$spacing-26: 26px;
$spacing-27: 27px;
$spacing-28: 28px;
$spacing-29: 29px;
$spacing-30: 30px;
$spacing-31: 31px;
$spacing-32: 32px;
$spacing-33: 33px;
$spacing-34: 34px;
$spacing-35: 35px;
$spacing-36: 36px;
$spacing-37: 37px;
$spacing-38: 38px;
$spacing-40: 40px;
$spacing-41: 41px;
$spacing-42: 42px;
$spacing-44: 44px;
$spacing-45: 45px;
$spacing-46: 46px;
$spacing-47: 47px;
$spacing-48: 48px;
$spacing-49: 49px;
$spacing-50: 50px;
$spacing-51: 51px;
$spacing-52: 52px;
$spacing-54: 54px;
$spacing-55: 55px;
$spacing-56: 56px;
$spacing-57: 57px;
$spacing-58: 58px;
$spacing-59: 59px;
$spacing-60: 60px;
$spacing-61: 61px;
$spacing-62: 62px;
$spacing-64: 64px;
$spacing-65: 65px;
$spacing-66: 66px;
$spacing-67: 67px;
$spacing-68: 68px;
$spacing-70: 70px;
$spacing-71: 71px;
$spacing-72: 72px;
$spacing-73: 73px;
$spacing-74: 74px;
$spacing-75: 75px;
$spacing-76: 76px;
$spacing-78: 78px;
$spacing-80: 80px;
$spacing-81: 81px;
$spacing-82: 82px;
$spacing-83: 83px;
$spacing-84: 84px;
$spacing-85: 85px;
$spacing-86: 86px;
$spacing-88: 88px;
$spacing-90: 90px;
$spacing-91: 91px;
$spacing-92: 92px;
$spacing-94: 94px;
$spacing-96: 96px;
$spacing-98: 98px;
$spacing-99: 99px;
$spacing-100: 100px;
$spacing-104: 104px;
$spacing-105: 105px;
$spacing-107: 107px;
$spacing-108: 108px;
$spacing-110: 110px;
$spacing-112: 112px;
$spacing-113: 113px;
$spacing-117: 117px;
$spacing-118: 118px;
$spacing-119: 119px;
$spacing-120: 120px;
$spacing-124: 124px;
$spacing-125: 125px;
$spacing-126: 126px;
$spacing-128: 128px;
$spacing-130: 130px;
$spacing-132: 132px;
$spacing-133: 133px;
$spacing-134: 134px;
$spacing-135: 135px;
$spacing-138: 138px;
$spacing-140: 140px;
$spacing-142: 142px;
$spacing-143: 143px;
$spacing-145: 145px;
$spacing-148: 148px;
$spacing-149: 149px;
$spacing-150: 150px;
$spacing-152: 152px;
$spacing-156: 156px;
$spacing-157: 157px;
$spacing-160: 160px;
$spacing-162: 162px;
$spacing-168: 168px;
$spacing-174: 174px;
$spacing-177: 177px;
$spacing-178: 178px;
$spacing-180: 180px;
$spacing-183: 183px;
$spacing-184: 184px;
$spacing-190: 190px;
$spacing-197: 197px;
$spacing-196: 196px;
$spacing-200: 200px;
$spacing-201: 201px;
$spacing-205: 205px;
$spacing-206: 206px;
$spacing-209: 209px;
$spacing-210: 210px;
$spacing-218: 218px;
$spacing-219: 219px;
$spacing-220: 220px;
$spacing-224: 224px;
$spacing-225: 225px;
$spacing-228: 228px;
$spacing-230: 230px;
$spacing-240: 240px;
$spacing-242: 242px;
$spacing-246: 246px;
$spacing-247: 247px;
$spacing-250: 250px;
$spacing-251: 251px;
$spacing-252: 252px;
$spacing-255: 255px;
$spacing-260: 260px;
$spacing-264: 264px;
$spacing-266: 266px;
$spacing-268: 268px;
$spacing-268-5: 268.5px;
$spacing-272: 272px;
$spacing-276: 276px;
$spacing-280: 280px;
$spacing-286: 286px;
$spacing-294: 294px;
$spacing-295: 295px;
$spacing-296: 296px;
$spacing-298: 298px;
$spacing-300: 300px;
$spacing-302: 302px;
$spacing-303: 303px;
$spacing-307: 307px;
$spacing-308-5: 308.5px;
$spacing-310: 310px;
$spacing-312: 312px;
$spacing-320: 320px;
$spacing-329: 329px;
$spacing-332: 332px;
$spacing-334: 334px;
$spacing-335: 335px;
$spacing-336: 336px;
$spacing-340: 340px;
$spacing-346: 346px;
$spacing-350: 350px;
$spacing-353: 353px;
$spacing-360: 360px;
$spacing-366: 366px;
$spacing-368: 368px;
$spacing-370: 370px;
$spacing-371: 371px;
$spacing-372: 372px;
$spacing-373: 373px;
$spacing-374: 374px;
$spacing-379: 379px;
$spacing-380: 380px;
$spacing-388: 388px;
$spacing-392: 392px;
$spacing-400: 400px;
$spacing-401: 401px;
$spacing-405: 405px;
$spacing-410: 410px;
$spacing-414: 414px;
$spacing-418: 418px;
$spacing-420: 420px;
$spacing-426: 426px;
$spacing-440: 440px;
$spacing-448: 448px;
$spacing-450: 450px;
$spacing-459: 459px;
$spacing-461: 461px;
$spacing-467: 467px;
$spacing-488: 488px;
$spacing-493: 493px;
$spacing-500: 500px;
$spacing-514: 514px;
$spacing-517: 517px;
$spacing-542: 542px;
$spacing-550: 550px;
$spacing-584: 584px;
$spacing-593: 593px;
$spacing-600: 600px;
$spacing-606: 606px;
$spacing-614: 614px;
$spacing-630: 630px;
$spacing-687: 687px;
$spacing-704: 704px;
$spacing-710: 710px;
$spacing-712: 712px;
$spacing-749: 749px;
