@import '../../../theme/';

.match-columns {
  &__container {
    align-items: center;
    background-color: get-color($neutral, default);
    border-radius: $spacing-20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $spacing-20 $spacing-16;
  }

  &__sub-container {
    align-items: center;
    display: flex;
    gap: $spacing-12;
    justify-content: center;
    margin-bottom: $spacing-48;
    margin-top: $spacing-16;
  }

  &__title.MuiTypography-root {
    color: get-color($neutral, 600);
    font-family: $secondary-font;
    font-size: $spacing-18;
    font-weight: $font-weight-bold;
    line-height: $spacing-25;
  }

  &__column {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: $spacing-16;
  }

  &__option {
    align-items: center;
    border: $spacing-1 solid get-color($neutral, 400);
    background-color: get-color($neutral, default);
    border-radius: $spacing-16;
    display: flex;
    height: $spacing-80;
    justify-content: center;
    padding: $spacing-0 $spacing-12;
  }

  &__option-title.MuiTypography-root {
    color: get-color($neutral, 600);
    font-family: $primary-font;
    font-size: $spacing-12;
    line-height: $spacing-18;
  }

  &__button.MuiButton-root {
    height: $spacing-59;
    width: 100%;
  }
}
