@import '../../../theme/';

.game-result {
  &__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: $spacing-0 $spacing-20 $spacing-32 $spacing-20;
  }

  &__sub-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
  }

  &__image {
    align-self: center;
    display: flex;
    height: $spacing-230;
  }

  &__main-container {
    align-self: center;
    background-color: $lemon;
    border-radius: $spacing-50;
    display: flex;
    gap: $spacing-6;
    margin-bottom: $spacing-40;
    margin-top: $spacing-20;
    padding: $spacing-10 $spacing-20;
  }

  &__title.MuiTypography-root {
    color: get-color($neutral, 600);
    font-family: $primary-font;
    font-size: $spacing-20;
    font-weight: $font-weight-bold;
    line-height: $spacing-28;
    text-align: center;
    white-space: pre-line;
  }

  &__sub-title.MuiTypography-root {
    color: get-color($neutral, 500);
    font-family: $primary-font;
    font-size: $spacing-18;
    font-weight: $font-weight-bold;
    line-height: $spacing-21;
    text-align: center;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
  }

  &__button-sub-container {
    display: flex;
    gap: $spacing-16;
    justify-content: space-between;
    margin-top: $spacing-16;
  }

  &__button.MuiButton-root {
    flex: 1;
    height: $spacing-59;
    padding: $spacing-8;
  }

  &__secondary-button.MuiButton-root {
    background-color: get-color($neutral, default);
    border: $spacing-1 solid get-color($green, 500);
    flex: 1;
    height: $spacing-59;
    padding: $spacing-8;
    &:hover {
      background-color: get-color($neutral, default);
    }
  }

  &__secondary-button-text.MuiTypography-root {
    color: get-color($green, 500);
    font-family: $primary-font;
    font-size: $spacing-16;
    font-weight: $font-weight-semi-bold;
    line-height: $spacing-24;
  }
}

@include landscape-md {
  .game-result {
    &__container {
      margin-left: -$spacing-4;
      padding: $spacing-0 $spacing-12 $spacing-32 $spacing-12;
    }

    &__title.MuiTypography-root {
      font-size: $spacing-14;
      line-height: $spacing-20;
    }

    &__sub-title.MuiTypography-root {
      font-size: $spacing-14;
      line-height: $spacing-20;
    }

    &__main-container {
      margin-bottom: $spacing-20;
      padding: $spacing-8 $spacing-16;
    }

    &__image {
      height: $spacing-190;
    }
  }
}

@include sm {
  .game-result {
    &__image {
      height: $spacing-180;
    }
  }
}
